style.
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    .page-footer {
        padding-top: unset;
    }
footer.page-footer
    .footer-copyright
        .container
            | © 2019 Copyright
            a.grey-text.text-lighten-4.right(target="_blank",href='https://interop-cellular-iot-docs.aerobaticapp.com/') Documention
