# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

node_modules/
**/org.eclipse.osgi
*package-lock*.*
.vscode/
.jshintrc
server/IN-CSE/database/
server/IN-CSE/configuration/*.log
webapp/MY_METER/
webapp/MY_METER_data/
