doctype html
html(lang="en")
    head
        include templates/meta.pug
        include templates/cssframeworks.pug
        title Data Page
        style(type="text/css").
            *, button {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .btn-info {
                display: inline;
            }
            a {
                color:white;
            }
    body
        -var pugAE = AEName;
        .container(style="max-width: 700px;")
            .row
                .col.s12
                    h2= 'Data View for ' + pugAE
            .row    
                .col.s1
                    a(class="waves-effect waves-light btn red" href="/" )
                            i.material-icons arrow_back
                .col.s1 
                    button#resume(class="waves-effect waves-light btn")
                        i.material-icons play_arrow
                .col.s10
                        button(id="dateChanger" class="waves-effect waves-light btn datepicker blue") 
                            i.material-icons date_range
            .row
                .col.s12
                    label Enter graph range (5-100):
            .row
                .col.s12
                    p.range-field
                        input#range(type="range" min="5" max="100")
            canvas#myChart(width="400" height="400")

    include templates/jsscripts.pug