doctype html
html(lang="en")
    head
        include templates/meta.pug
        include templates/cssframeworks.pug
        title Data Page
        style(type="text/css").
            *, button {
                margin: 5px;
            }
            .btn-info {
                display: inline;
            }
            a {
                color:white;
            }
    body
        -var pugAE = AEName;
        .container(style="max-width: 700px;")
            .row
                .col-12
                    h2= 'Data View for ' + pugAE
            .row    
                .col-1-xs
                    a(class="btn btn-success" href="/" )
                            i.material-icons arrow_back
                .col-1-xs 
                    button#resume(class="btn btn-info")
                        i.material-icons play_arrow
            .row
                .col-1-xs
                    label Enter graph range (5-100):
            .row
                .col-1-xs
                    input#range(type="range" min="5" max="100")
            canvas#myChart(width="400" height="400")

    include templates/jsscripts.pug