doctype html
html(lang="en")
    head
        include templates/cssframeworks.pug
        include templates/meta.pug
        style(type="text/css").
            * {
                margin: 5px;
            }

    body
        -var pugAENames = AENames
        h2 Welcome
        p Click on any of the Application Entity Buttons to see their respective data
        br
        each ae in pugAENames
            a(class="btn btn-primary" href=`/data?ae=${ae}`)= ae
            br
        include templates/jsscripts.pug