doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home Page
    body
        -var pugResponse = response
        p Retrieve a resource
        label(id="command-1") Results below
        code=pugResponse
        button(onclick="location.reload()") Refresh
        script(src="/js/jquery.js")
        script(src="/js/script.js")